.media-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  cursor: move;
}

.media-preview {
  flex: 0 0 100px;
  margin-right: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.media-details {
  flex: 1;
}

.media-details p {
  margin: 5px 0;
  font-size: 14px;
}

.media-details .name {
  font-weight: bold;
  font-size: 16px;
}

.media-details .type {
  color: #666;
  font-size: 12px;
}

.duration-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.media-details label {
  font-weight: bold;
  margin-right: 5px;
  font-size: 11px;
}

.media-details input {
  width: 55px;
  padding: 2px 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 14px;
}

.duration-container span {
  font-size: 14px;
  color: #666;
}

.timeline-info p {
  margin: 5px 0;
  font-size: 12px;
  color: #888;
  text-align: right;
}