<div 
  class="media-info" 
  draggable="true"
  (dragstart)="onDragStart($event)"
>
  <div class="media-preview">
    <img 
      *ngIf="media.type.startsWith('image')" 
      [src]="media.thumbnail || 'assets/default-image.jpg'" 
      alt="thumbnail"
      class="thumbnail"
    >
    <video 
      #videoElement
      *ngIf="media.type.startsWith('video')" 
      class="thumbnail"
      [src]="media.thumbnail ? null : 'assets/' + media.name" 
      [poster]="media.thumbnail"
      preload="metadata"
      muted
    >
      <source [src]="'assets/' + media.name" [type]="media.type">
    </video>
  </div>
  
  <div class="media-details">
    <p class="name">{{ media.name }}</p>
    <p class="type">{{ media.type }}</p>
    <div *ngIf="media.type.startsWith('image')">
      <label>Durée (s): </label>
      <input type="number" [(ngModel)]="media.duration" (change)="onDurationChange()" min="0">
    </div>
    <div>
      <label>Début (s): </label>
      <input type="number" [(ngModel)]="media.startTime" (change)="onTimeChange()" min="0">
    </div>
    <div>
      <label>Fin (s): </label>
      <input type="number" [(ngModel)]="media.endTime" (change)="onTimeChange()" min="0">
    </div>
  </div>
</div>