<div 
  class="media-info" 
  draggable="true"
  (dragstart)="onDragStart($event)"
>
  <div class="media-preview">
    <img 
      *ngIf="media.type.startsWith('image')" 
      [src]="media.thumbnail || 'assets/default-image.jpg'" 
      alt="thumbnail"
      class="thumbnail"
    >
    <video 
      #videoElement
      *ngIf="media.type.startsWith('video')" 
      class="thumbnail"
      [src]="media.thumbnail ? null : 'assets/' + media.name" 
      [poster]="media.thumbnail"
      preload="metadata"
      muted
    >
      <source [src]="'assets/' + media.name" [type]="media.type">
    </video>
  </div>
  
  <div class="media-details">
    <p class="name">{{ media.name }}</p>
    
    <!-- Afficher la durée uniquement pour les images avec un champ modifiable -->
    <div *ngIf="media.type.startsWith('image')">
      <label>Durée: </label>
      <input 
        type="number" 
        [(ngModel)]="media.duration" 
        (change)="onDurationChange()" 
        min="5"
      >
    </div>
    <!-- Afficher la durée fixe pour les vidéos -->
    <p *ngIf="media.type.startsWith('video') && media.duration">
      Durée: {{ media.duration }}s
    </p>
    <div>
      <label>Début: </label>
      <input type="number" [(ngModel)]="media.startTime" (change)="onTimeChange()" min="0">
    </div>
    <div>
      <label>Fin:</label>
      <input type="number" [(ngModel)]="media.endTime" (change)="onTimeChange()" min="0">
    </div>
  </div>
</div>