/* home.component.css */
.app-container {
    display: flex;
    position: relative;
  }
  
  .main-content {
    margin-left: 250px; /* Largeur de la sidebar */
    width: calc(100% - 250px); /* Ajuste la largeur en fonction de la sidebar */
    padding: 20px;
  }
  
  .main-content.with-viewer {
    width: calc(100% - 650px); /* 250px sidebar + 400px media-viewer */
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }